<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LeaderBoard</title>
    <link rel="stylesheet" href="css/leaderboard-page.css">
</head>
<body>
    <div class="leaderboard-page">
        <p class="main-page__menu__logo">About</p>
        <div class="leaderboard-page__users">
            <p>user1 10500</p>
            <p>user2 10500</p>
            <p>user3 10500</p>
            <p>user4 10500</p>
            <p>user5 10500</p>
        </div>
        <div class="leaderboard-page__pagination">
            <a><<</a>
            <a class="active">1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <a>5</a>
            <a>>></a>
        </div>
        <div class="main-page__menu__button" id="leaderBoardBackBtn"><span>Back</span></div>
    </div>
</body>
</html>