<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link rel="stylesheet" href="css/main-page.css">
</head>
<body>
    <div class="main-page__menu">
        <p class="main-page__menu__logo">CODELOFT</p>
        <div class="main-page__menu__buttons">
            <div class="main-page__button"><span>SignIn</span></div>
            <div class="main-page__button"><span>SignUp</span></div>
            <div class="main-page__button"><span>Rules</span></div>
            <div class="main-page__button"><span>High Score</span></div>
        </div>
    </div>
</body>
</html>