<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link rel="stylesheet" href="css/main-page.css">
</head>
<body>
    <div class="main-page__menu">
        <p class="main-page__menu__logo">Logo</p>
        <div class="main-page__menu__buttons">
            <div class="main-page__button">SignIn</div>
            <div class="main-page__button">SignUp</div>
            <div class="main-page__button">Rules</div>
            <div class="main-page__button">High Score</div>
        </div>
    </div>
</body>
</html>