<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="css/signUp-page.css">
</head>
<body>
    <div class="signUp-page">
        <p class="main-page__menu__logo">Sign up</p>
        <form>
            <div class="login-page_error" name="login" style="display: none"></div>
            <input class="login-page__signUpInput" type="text" placeholder="Login">
            <div class="login-page_error" name="login" style="display: none"></div>
            <input class="login-page__signUpInput" type="email" placeholder="Email address">
            <div class="login-page_error" name="login" style="display: none"></div>
            <input class="login-page__signUpInput" type="password" placeholder="Password">
            <div class="login-page_error" name="login" style="display: none"></div>
            <input class="login-page__signUpInput" type="password" placeholder="Confirm Password">
            <div class="main-page__menu__button" id="btnRegistration"><span>Create Account</span></div>
        </form>
        <div class="main-page__menu__button" id="signUpBackBtn"><span>Back</span></div>
    </div>
</body>
</html>