<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>
    <link rel="stylesheet" href="css/signIn-page.css">
</head>
<body>
    <div class="signIn-page">
        <p class="main-page__menu__logo">Codeloft</p>
        <form>
            <div class="login-page_error" name="login" style="display: none"></div>
            <input class="login-page__signInInput" type="text" placeholder="Login">
            <div class="login-page_error" name="password" style="display: none"></div>
            <input class="login-page__signInInput" type="password" placeholder="Password">
            <div class="main-page__menu__button" id="signInSubmitBtn">Sign In</div>
        </form>
        <div class="main-page__menu__button" id="signInBackBtn">Back</div>
    </div>
</body>
</html>