<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="../css/game.css" rel="stylesheet">
    <title>Game</title>
  </head>
  <body>
    <div class="main">
      <div>
        <p class="head-label">Welcome, guest!</p>
        <form class="menu-offset" style="text-align: center; display: block">
          <button class="menu-button" onclick="location.href='login.html'" type="button">Sign in</button>
        </form>
        <form style="text-align: center;">
          <button class="menu-button" onclick="location.href='reg.html'" type = "button">Sign up</button>
        </form>
        <p class="footer-label">© Codeloft 2018 <a href="rules.html" class="footer-link">Rules</a></p>
      </div>
    </div>
  </body>
</html>
