<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="../css/game.css" rel="stylesheet">
    <title>Rules</title>
    <p class="head-label">Sign in</p>
  </head>

  <body>
    <form class="login-form">
       <p><input class="login-input" type="text" name="login" placeholder="Login or Email"></p>
       <p><input class="login-input" type="password" name="password" value="" placeholder="Password"></p>
       <button class="login-button">Sign in!</button>
    </form>
    <p class="footer-label">© Codeloft 2018 <a href="" class="footer-link">Main page</a></p>
  </body>
</html>
