<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="../css/game.css" rel="stylesheet">
    <title>High-Score</title>
    <p class="head-label">High-Score</p>
  </head>

  <body>
    <div>
    <table class="score-table">
      <tr style="text-align: center;">
        <th class="score-row">Player</th>
        <th class="score-row">Region</th>
        <th class="score-row">Score</th>
      </tr>
    </table>
    </div>
    <p class="footer-label">© Codeloft 2018 <a href="" class="footer-link">Main page</a></p>
  </body>
</html>
