@import "../../static/css/main-page";

.error-label {
  font-size: 3vmin;
  color: #DF740C;
  margin: auto;
  text-align: center;
}

.main-content__logo {
  margin-top: 7vmin;
  margin-bottom: 6vmin;
  font-size: 10vmin;
  text-align: center;
  user-select: none;
  color: #FFE64D;
  animation: neon-text-dark 13s steps(1, start) infinite reverse;
}