@import './reset.scss';

.about-block__rules-text {
  margin-top: 7vmin;
  margin-bottom: 6vmin;
  text-align: justify;
  font-size: 4vmin;
  cursor: default;
  color: $light-neon-color;
  font-family: 'Palatino', cursive;
  margin-left: 20vmin;
  margin-right: 20vmin;
}