.game-input {
    text-align: center;
    display: block;
    width: 30%;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    color: black;
}