.main-content__chat-block {
    /*padding: 2vh 5vh;*/
    background-color: #0c141f;
    /*height: 100%;*/
    /*width: 100%;*/
}

.main-content__chat-block-messaging {
    overflow: scroll;
    width: auto;
    height: 95.5vh;
    padding: 2vh 2vh;
}

.main-content__chat-block-message {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    font-size: 2vh;
    /*align-items: center;*/
}

.main-content__chat-block-message__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    padding: 0.4vh 3vh;
    border-radius: 100vh;
    background-color: #3b5478;
    color: white;
    max-width: 70%;
}

.main-content__chat-block-message-send {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 1vh;
    padding-right: 1vh;
}

.main-content__chat-block-message-send-input {
    width: 100%;
    height: 4vh;
    background-color: #0c141f;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 2px solid white;
    padding-left: 3vh;
    outline:none;
    color: white;
}

.main-content__chat-block-message-send-input::placeholder {
    color: white;
}

.main-content__chat-block-message-send-button {
    color: white;
    font-size: 4vh;
}

.main-content__chat-block-message__time {
    font-size: 1.3vh;
    color: #aaaaaa;
    margin-left: auto;
    /*width: 100%;*/
    /*margin: 0 0 5vh 5vh;*/
}

.main-content__chat-block-message-name {
    font-size: 1.4vh;
    color: #aaaaaa;
}

.message--user-2 {
    justify-content: flex-end;
    /*margin: 0 0 0 10px;*/
}

.message--user-2 .main-content__chat-block-message__time {
    /*text-align: left;*/
    margin: 0 auto 0 0;
}

.message--user-2 .main-content__chat-block-message__text {
    background-color: #296bcd;
}