<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="chat.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <div class="main-content__chat-block">
        <div class="main-content__chat-block-messaging">
            <div class="main-content__chat-block-message message--user-1">
                <div class="main-content__chat-block-message__text">
                    <p class="main-content__chat-block-message-name">James</p>
                    <p>Hello!</p><time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-2">
                <div class="main-content__chat-block-message__text">
                    <!--<p class="main-content__chat-block-message-name">Arthur</p>-->
                    <p>Hi...</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-2">
                <div class="main-content__chat-block-message__text">
                    <!--<p class="main-content__chat-block-message-name">Arthur</p>-->
                    <p>How r u?</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-1">
                <div class="main-content__chat-block-message__text">
                    <p class="main-content__chat-block-message-name">James</p>
                    <p>Not good enough...</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-1">
                <div class="main-content__chat-block-message__text">
                    <p class="main-content__chat-block-message-name">James</p>
                    <p>Hello!</p><time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-2">
                <div class="main-content__chat-block-message__text">
                    <!--<p class="main-content__chat-block-message-name">Arthur</p>-->
                    <p>Hi...</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-2">
                <div class="main-content__chat-block-message__text">
                    <!--<p class="main-content__chat-block-message-name">Arthur</p>-->
                    <p>How r u?</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-1">
                <div class="main-content__chat-block-message__text">
                    <p class="main-content__chat-block-message-name">James</p>
                    <p>Not good enough...</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-1">
                <div class="main-content__chat-block-message__text">
                    <p class="main-content__chat-block-message-name">James</p>
                    <p>Hello!</p><time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-2">
                <div class="main-content__chat-block-message__text">
                    <!--<p class="main-content__chat-block-message-name">Arthur</p>-->
                    <p>Hi...</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-2">
                <div class="main-content__chat-block-message__text">
                    <!--<p class="main-content__chat-block-message-name">Arthur</p>-->
                    <p>How r u?</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-1">
                <div class="main-content__chat-block-message__text">
                    <p class="main-content__chat-block-message-name">James</p>
                    <p>Not good enough...</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-1">
                <div class="main-content__chat-block-message__text">
                    <p class="main-content__chat-block-message-name">James</p>
                    <p>Hello!</p><time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-2">
                <div class="main-content__chat-block-message__text">
                    <!--<p class="main-content__chat-block-message-name">Arthur</p>-->
                    <p>Hi...</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-2">
                <div class="main-content__chat-block-message__text">
                    <!--<p class="main-content__chat-block-message-name">Arthur</p>-->
                    <p>How r u?</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
            <div class="main-content__chat-block-message message--user-1">
                <div class="main-content__chat-block-message__text">
                    <p class="main-content__chat-block-message-name">James</p>
                    <p>Not good enough...</p>
                    <time class="main-content__chat-block-message__time">11:25</time>
                </div>
            </div>
        </div>
        <div class="main-content__chat-block-message-send">
            <input class="main-content__chat-block-message-send-input" placeholder="White a message...">
            <div class="main-content__chat-block-message-send-button"><i class="fab fa-telegram-plane"></i></div>
        </div>
    </div>
</body>
</html>