<div class="singleplayer-block__before-game-block">
    <div class="before-game-block__logo-label">How to play?</div>
    <div class="before-game-block__buttons-block">
        <span class="play-button game-button">Play</span>
    </div>
</div>