<div class="singleplayer-block__before-game-block">
    <div class="before-game-block__logo-label">How to play?</div>
    <div class="before-game-block__score-tip">
        <img src="../../static/img/score.png" class="images-block__image">
        <div class="images-block__rules-text">
            Your target is to score as many points as possible. Remember that the time of the round is limited to 60 seconds.
        </div>
    </div>
    <div class="before-game-block__control-tip">
        <img src="../../static/img/control.jpg" class="images-block__image">
        <div class="images-block__rules-text">
            You can change your direction to one of four by pressing W, A, S, D or arrows.
        </div>
    </div>
    <div class="before-game-block__goal-tip">
        <img src="../../static/img/goal.png" class="images-block__image">
        <div class="images-block__rules-text">
            Points are being gained as you pass through the goal. The smaller the gate, the more points you will get and the more seconds will be added to the total time.
        </div>
    </div>
    <div class="before-game-block__buttons-block">
        <span class="play-button game-button">Play</span>
    </div>
</div>