@import '../../static/css/reset.scss';

.main-content__singleplayer-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  //display: flex;
  //justify-content: flex-end;
}