<div class="main-content__chat-block-message-send">
    <input class="main-content__chat-block-message-send-input">
    <div class="main-content__chat-block-message-send-button"><i class="fab fa-telegram-plane"></i></div>
</div>