@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    background-color: #0C141F;
    font-family: 'Press Start 2P', cursive;
}

.main-page__menu__logo {
    margin-top: 7vmin;
    margin-bottom: 6vmin;
    text-align: center;
    font-size: 10vmin;
    cursor: default;
    user-select: none;
    color: #FFE64D;
    animation: neon-text-dark 13s steps(1, start) infinite reverse;
}

.about-page__rules {
    margin-top: 7vmin;
    margin-bottom: 6vmin;
    text-align: center;
    font-size: 4vmin;
    cursor: default;
    color: #E6FFFF;
    animation: neon-text-light 13s steps(1, start) infinite reverse;
}

.main-page__menu__button {
    margin-bottom: 3vmin;
    border: 0;
    font-size: 6vmin;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    user-select: none;
    color: #E6FFFF;
    animation: neon-text-light 13s steps(1, start) infinite reverse;
}

.main-page__menu__button span {
    cursor: pointer;
}

@keyframes neon-text-light {
    0% {
        text-shadow: 0 0 10px #6FC3DF;
    }

    20% {
        text-shadow: 0 0 20px #6FC3DF;
    }

    40% {
        text-shadow: 0 0 40px #6FC3DF;
    }

    60% {
        text-shadow: 0 0 60px #6FC3DF;
    }

    80% {
        text-shadow: 0 0 80px #6FC3DF;
    }

    100% {
        text-shadow: 0 0 100px #6FC3DF;
    }
}

@keyframes neon-text-dark {
    0% {
        text-shadow: 0 0 10px #DF740C;
    }

    20% {
        text-shadow: 0 0 20px #DF740C;
    }

    40% {
        text-shadow: 0 0 40px #DF740C;
    }

    60% {
        text-shadow: 0 0 60px #DF740C;
    }

    80% {
        text-shadow: 0 0 80px #DF740C;
    }

    100% {
        text-shadow: 0 0 100px #DF740C;
    }
}
