@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    background-color: #0C141F;
    font-family: 'Press Start 2P', cursive;
}

.login-page_error {
    font-size: 3vmin;
    color: #DF740C;
    margin: auto;
    text-align: center;
}

.main-page__menu__logo {
    margin-top: 7vmin;
    margin-bottom: 6vmin;
    text-align: center;
    font-size: 10vmin;
    cursor: default;
    user-select: none;
    color: #FFE64D;
    animation: neon-text-dark 13s steps(1, start) infinite reverse;
}

.login-page__signUpInput {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vmin;
    min-height: 4vmin;
    min-width: 45vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    font-size: 2vmin;
    outline:none;
    background-color: #E6FFFF;
    font-family: 'Press Start 2P', cursive;
    border-color: #E6FFFF;
    animation: neon-light 13s steps(1, start) infinite reverse;
}

.main-page__menu__button {
    margin-bottom: 3vmin;
    border: 0;
    font-size: 6vmin;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    user-select: none;
    color: #E6FFFF;
    animation: neon-text-light 13s steps(1, start) infinite reverse;
}

.main-page__menu__button span {
    cursor: pointer;
}

@keyframes neon-text-light {
    0% {
        text-shadow: 0 0 10px #6FC3DF;
    }

    20% {
        text-shadow: 0 0 20px #6FC3DF;
    }

    40% {
        text-shadow: 0 0 40px #6FC3DF;
    }

    60% {
        text-shadow: 0 0 60px #6FC3DF;
    }

    80% {
        text-shadow: 0 0 80px #6FC3DF;
    }

    100% {
        text-shadow: 0 0 100px #6FC3DF;
    }
}

@keyframes neon-text-dark {
    0% {
        text-shadow: 0 0 10px #DF740C;
    }

    20% {
        text-shadow: 0 0 20px #DF740C;
    }

    40% {
        text-shadow: 0 0 40px #DF740C;
    }

    60% {
        text-shadow: 0 0 60px #DF740C;
    }

    80% {
        text-shadow: 0 0 80px #DF740C;
    }

    100% {
        text-shadow: 0 0 100px #DF740C;
    }
}

@keyframes neon-light {
    0% {
        box-shadow: 0 0 10px 2px #6FC3DF;
    }
    50% {
        box-shadow: 0 0 15px 4px #6FC3DF;
    }
    100% {
        box-shadow: 0 0 20px 6px #6FC3DF;
    }
}
