<div class="results-block">
    <div class="results-block__score">Score: 942</div>
    <div class="results-block__goals">Goals passed: 112</div>
    <div class="results-block__buttons">
        <span class="game-button again-button">Play again</span>
        <span class="game-button back-button">Go back</span>
    </div>
</div>